*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C1D1DD ;
}

header{
    background-color: #FFF6DD;
    margin:2%;
    padding-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3C6785;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

main{
    margin: 5%;
    padding: 10%;
    background-color: #FFF6DD;
    display: flex;
    flex-direction: column;
}

input{
    border: solid #7596AD;
    padding-right: 1%;
    text-align: right;
    color: #3C6785;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;        
}

div > button{
    margin-top: 3%;
    border-radius: 50%;
    border: solid #7596AD;
    width: 3em;
    height: 3em;
    color:#3C6785;
    font-size: large;
}

#resultado{
    margin-top: 3%;
    color: #3C6785;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}